* {
  box-sizing: inherit;
}

body {
  background: #f3f3f3;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', 'Segoe UI', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-family: Arvo, Cambria, Georgia, serif;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 0;
}

input,
button {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
  padding: 0.5rem;
}

.container {
  margin: 0 auto;
  width: 90%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header form {
  flex-basis: 75%;
}

input[type="search"] {
  -webkit-appearance: textfield;
  width: 100%;
}

.items {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.item {
  align-items: center;
  background: #fff;
  border: 1px solid #cfd8dc;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 1rem auto;
  padding: 1rem;
}

.item__image {
  border-radius: 0.5rem;
  height: 64px;
  margin-right: 1rem;
  width: 64px;
}

.item__description {
  font-size: 0.875rem;
}
